<div class="box-form">
  <div class="left">
    <div class="overlay">

      <h1>Mejora tu vida</h1>
      <h6>Encuentra el lugar que más se adapte a tus necesidades</h6>
      <span>
        <br />
        <h6>Signup with social media</h6>
        <br />
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
        <a href="#" style="display: none;"></a>

      </span>
    </div>
  </div>

  {{!-- div del form --}}

  <div class="right">

    <p>Don't have an account? Creat Your Account. It takes less than a minute</p>
    <h5 class="login Text">Signup</h5>
    <br />


    <div class="inputs">

      <form action="/signup" method="POST">
        <input type="name" name="name" placeholder="Name" />
        <input type="lastname" name="lastName" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <br />
        <button class="sign" type="submit" value="Register"> Signup</button>
      </form>

    </div>

    <br><br>



  </div>

</div>