<div class="mientras">
  <div class="container">
    <form class=" form-group" action="/myLocations/create/" method="POST" novalidate>
      <p>
        <label for="name">Name</label>
        <input class="form-control  form-control-sm" type="text" name="name" placeholder="Name" id="name">
      </p>

      <p>
        <label for="locationType">Type</label>
        <select class="form-control  form-control-sm " name="locationType" id="locationType">
          <option value="bar">Bar</option>
          <option value="restaurant">Restaurante</option>
          <option value="library">Biblioteca</option>
          <option value="hotel">Hotel</option>
          <option value="entreteinmentCenter">Centros de entretenimiento</option>
        </select>
      </p>
      <p>
        <input class="form-control form-control-sm" type="text" name="description" placeholder="Descripción">
      </p>

      <input class="form-control  form-control-sm" type="number" name="lng" id="lng" hidden>
      <input class="form-control  form-control-sm" type="number" name="lat" id="lat" hidden>

      <input class="btn btn-warning" type="submit" value="Create">
    </form>

    <div id="map" style="width: 400px; height: 300px"></div>
  </div>

  </din>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
    })
    const geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl
    })
    map.addControl(geocoder)
    geocoder.on('result', ({
      result: {
        center
      }
    }) => {
      document.querySelector('#lng').value = center[0]
      document.querySelector('#lat').value = center[1]
    })
  </script>