<div class="mientras">
  <div class="container">
    <form class=" form-group" action="/myLocations/{{_id}}" method="POST" enctype="multipart/form-data">
      <p>
        <label for="name">Name</label>
        <input class="form-control  form-control-sm" type="text" name="name" placeholder="Name" id="name"
          value="{{name}}">
      </p>
      <p>
        <label for="locationType">Type</label>
        <select class="form-control  form-control-sm " name="locationType" id="locationType">
          <option value="bar">Bar</option>
          <option value="restaurant">Restaurante</option>
          <option value="library">Biblioteca</option>
          <option value="hote">Hotel</option>
          <option value="entreteinmentCenter">Centros de entretenimiento</option>
        </select>
      </p>
      <p>
        <input class="form-control  form-control-sm" type="text" name="description" placeholder="Descripción"
          value="{{description}}">
      </p>
       <div class="custom-file">
        <input name="photo" type="file" class="custom-file-input" id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Sube tu foto</label>
      </div>


      <input  class="btn btn-warning" type="submit" value="Edit">
    </form>
      <div id='map' style='width: 400px; height: 300px;'></div>

  </div>



  {{!--  --}}
  <script>
    mapboxgl.accessToken =
      'pk.eyJ1IjoiZGFuaWVsaXNsYXMzIiwiYSI6ImNqeG0yY2RhYTAwbXgzb25kaHRkNG1uY28ifQ.Q9LewDAeIYbUj-b7AXfdBw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
    })

    const geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl
    })
    map.addControl(geocoder)

    geocoder.on('result', ({
      result: {
        center
      }
    }) => {
      console.log(center)
      document.querySelector('#lng').value = center[0]
      document.querySelector('#lat').value = center[1]
    })
  </script>
</div>