<div class="mientras">
  <form action="/owner/myLocations" method="POST">
    <input type="text" name="name" id="name" placeholder="Nombre">
    <input type="text" name="location" id="location" placeholder="coordenadas">
    <input type="file" name="photo" id="photo">
    <input type="submit" value="Create Location">
  </form>
</div>