<div class="mientras">
  <h1>My Locations</h1>

  {{#each locations as |location|}}
  <a href="/myLocations/{{location._id}}">{{location.name}}</a>
  {{/each}}

  <br />
  <a href="/myLocations/create">Create new</a>
</div>