<div class="selecType">
  <select class="type">
    <option value="text">Restaurante</option>
    <option value="text">Bar</option>
    <option value="text">Hotel</option>
    <option value="text">Centro de entretenimiento</option>
    <option value="text">Biblioteca</option>
  </select>
</div>