<div class="mientras">
  <label for="formGroupExampleInput">¿Que estas buscando? </label>
  <select class="custom-select">
    <option value="" selected="selected"></option>
    <option value="Restaurantes">Restaurantes</option>
    <option value="Bares">Bares</option>
    <option value="Hoteles">Hoteles</option>
    <option value="Centros de entretenimiento">Centros de entretenimiento</option>
    <option value="Bibliotecas">Bibliotecas</option>
  </select>

  <br />

  <nav>
    <a href="/location/restaurants">Restaurantes</a>
    <a href="/search/bars">Bares</a>
    <a href="/search/hotels">Hoteles</a>
    <a href="/search/entreteinmentCenter">Centros de Entretenimiento</a>
    <a href="/search/libraries">Bibliotecas</a>
  </nav>


</div>