<div class="container card1" style="padding-top: 15vh">
  <h2>Locations</h2>
  <div class=" card-deck ">
    {{#each locations as |location| }}
      {{> locationCard }}
    {{/each}}
  </div>

</div>