<div class=" mientras columns-cards">
  <h1>Locations</h1>
  {{#each locations as |location| }}
  {{> locationCard }}
  <a href="/search/locations/{{location.id}}">Nombre de locacion: {{location.name}}</a>
  <p>link</p>
  {{/each}}

  <br />

</div>


<br />

</div>