<div class="container mientras columns-cards">
  <h1>Locations</h1>
{{#each locations }}
   {{> locationCard }}
  <a href="/locations/{{this.locations.id}}">{{this.locations.name}}</a>
{{/each}}

<br/>

</div>



